body {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    flex-wrap: wrap;
    background-color: #030f32 !important;
    .fireworks-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    pre {
        font-size: 2em;
    }
}